<html>

  <head>
    <title>Intelligent Surveillance Camera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
  </head>
  <body>
    <h1>Intelligent Surveillance Camera</h1>
    <form id="package_form" action="" method="post" >
      <div class="main_input">
      <button type="submit" class="btn btn-primary" name="download_buttons" value="Download" onclick="OtherButtonsClick();">Download</button>
      <button type="submit" class="btn btn-primary" name="download_buttons" value="Download all" onclick="OtherButtonsClick();">Download all</button>
      <button type="submit" class="btn btn-danger" name="download_buttons" value="Delete" onclick="OtherButtonsClick();">Delete</button>
      <button type="submit" class="btn btn-danger" name="download_buttons" value="Delete all" onclick="OtherButtonsClick();">Delete all</button>
      <button type="submit" class="btn" name="download_buttons" value="Back">Back</button>
      </div>
    <br>
    <div class="container">
      <div class="row justify-content-start">
      {% for file_name in file_names %}
        <div class="col-3 text-center">
	  <img src=thumbs/{{file_name}} alt={{file_name}} />
	  <div>{{file_name}} <input type="checkbox" name="selected" class="download_check" value={{ file_name }}></div>
	</div>
      {% endfor %}
      </div>
    </div>
    </form>

    <script>
    function SelectButtonClick() {
	var elements = document.getElementsByClassName("download_check");
        for(var i=0; i<elements.length; i++){
            elements[i].style.visibility = 'visible';
	    elements[i].checked=false;
        }
    }
    function OtherButtonsClick() {
	var elements = document.getElementsByClassName("download_check");
        for(var i=0; i<elements.length; i++){
        }
    }
  </script>
  </body>
</html>
